/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import url(../../library/bootstrap/css/bootstrap.min.css);

#daworks-chatbot-list-table picture {
	display: block;
	width:100%;
	height:80px;
	background-size:cover;
	background-position:50% 50%;
}